version: "3"

networks:
  default:
    external: false
  web:
    external: true

services:
  db:
    image: mongo:latest
    restart: always
    command: mongod --port 27020
    networks:
      - default
    ports:
      - "27020"
  app:
    build: .
    restart: always
    working_dir: /home/node/app
    command: npm run prod
    environment:
      - MONGO_URL=mongodb://db:27020/appcultor-servidor
      - MONGO_PORT=27020
      - SERVER_PORT=3001
      - PORT=3001
    networks:
      - default
      - web
    ports:
      - "3001"
    volumes:
      - ./package.json:/home/node/app/package.json
      - ./src:/home/node/app/src
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.appcultor.rule=Host(`appcultor.api.uname.group`)"
      - "traefik.http.routers.appcultor.entrypoints=web"
      - "traefik.http.services.appcultor.loadbalancer.server.port=3001"
      - "traefik.docker.network=web"
    links:
      - db
    depends_on:
      - db
